<div class="columns is-centered is-multiline is-mobile">
  {% for pag in site.pages %}
  {% if pag.path contains 'kategorie/' %}
    <div class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
      id="project-card">
      <a href="{{pag.url}}">
        <div class="has-background-black card">
          <figure class="image is-3by1 is-marginless" style="background-image: url({{pag.image}});border-radius: 0.5rem;">
            <div class="card-content has-background-black" style="padding: 10px;opacity:80%;border-radius: 0.5rem;">
            <div>
              <h1 class="title has-text-white is-size-4 ">{{ pag.title }}</h1>
            </div>
          </div>
          </figure>
          
        </div>
      </a>
    </div>
  {% endif %}
  {% endfor %}
</div>