<script type="text/javascript">var submitted=false;</script>
<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            <!-- kontakt mail -->
            <div class="container my-5 mt-5 mx-5 px-5">
                <h2 class="title is-2">Skontaktuj się</h2>
                <form id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLSeVcA8kY6_fRQ80jIhSFH7oSG8PtfSVeg8Rhq1-H7KWJwPzNw/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">
                    <div class="field">
                        <label for="name" class="label is-size-4 has-text-weight-light"></label>
                        <div class="control has-icons-left">
                            <input type="text" name="entry.1414957580" id="entry.1414957580" class="input" placeholder="Nazwa">
                                <span class="icon is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                        </div>
                    </div>
                    <div class="field">
                        <label for="email" class="label is-size-4 has-text-weight-light"></label>
                        <div class="control has-icons-left">
                            <input type="email" name="entry.230735891" id="entry.230735891" class="input" placeholder="Email">
                                <span class="icon is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                        </div>
                    </div>
                    <div class="field">
                        <textarea name="entry.111711075" id="entry.111711075" rows="5" class="textarea is-medium" placeholder="Wiadomość"></textarea>
                    </div>
                    <button id="contact-button" type="submit" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths">
                    <i class="fas fa-envelope"></i>Wyślij
                    </button>
                
                </form>
                <!--
                https://docs.google.com/forms/d/e/1FAIpQLSeVcA8kY6_fRQ80jIhSFH7oSG8PtfSVeg8Rhq1-H7KWJwPzNw/formResponse?
                entry.1414957580=Name
                entry.230735891=mail
                entry.111711075=tresc
                -->
                <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>

            </div>
            {% unless site.facebook_username == %}
            <a id="contact-button" href="https://m.me/{{site.facebook_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-facebook-messenger"></i>Ping me on Messenger
            </a>
            {% endunless %}
            <!--
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Send me an Email
            </a>
            -->
            {% unless site.twitter_username ==  %}
            <a id="contact-button" href="https://www.twitter.com/intent/tweet?screen_name={{site.twitter_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-twitter"></i>Tweet me on Twitter
            </a>
            {% endunless %}
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                Tutaj mnie znajdziesz
            </h3>
            <div class="column is-full is-size-3">
                {% unless site.facebook_username == %}
                <a href="http://www.facebook.com/{{site.facebook_username}}" target="_blank" class="has-text-black"><i class="fab fa-facebook"></i></a>
                {% endunless %}
                {% unless site.twitter_username == %}
                <a href="http://www.twitter.com/{{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter"></i></a>
                {% endunless %}
                {% unless site.instagram_username ==  %}
                <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank" class="has-text-black"><i class="fab fa-instagram"></i></a>
                {% endunless %}
                {% unless site.linkedin_username ==  %}
                <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-black"><i class="fab fa-linkedin"></i></a>
                {% endunless %}
                {% unless site.useme_username ==  %}
                <a href="http://www.useme.com/pl/roles/contractor/{{site.linkedin_username}}" target="_blank" class="has-text-black">
                    <svg class="svg-inline--fa fa-linkedin fa-w-14" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 180">
                        <path fill="currentColor" d="M103.33,9.23c0-5.88-3.41-9.24-8.78-9.23c-5.34,0-8.82,3.36-8.82,9.25l0.3,96.81c-0.59,4.95,0.09,9.96-0.98,14.9c-2.13,9.89-10.17,15.76-20.9,15.09c-9.21-0.58-16.47-8.07-17.06-17.69c-0.21-3.48-0.25-6.97-0.36-10.46c0.06-11.63,0.24-23.26,0.14-34.89c-0.05-5.84-4.02-9.66-9.28-9.52c-5.16,0.13-8.55,3.78-8.56,9.56c-0.01,11.63,0.11,23.26,0.17,34.89c-0.05,3.82-0.26,7.64-0.13,11.45c0.53,15.25,10.69,28.27,25.4,32.71c15.86,4.79,32.56-0.28,41.65-12.29c7.74-10.23,7.65-21.9,6.95-33.77L103.33,9.23z"></path>
                        <path fill="currentColor" d="M131.85,105.01c0.04-16.3,0.14-32.6,0.07-48.9c-0.03-6.16-4.01-10.18-9.42-10.04c-5.24,0.14-8.7,3.97-8.7,10.04c0,16.63,0.12,33.26,0.2,49.9c-0.82,6.44,0.08,12.91-0.79,19.39c-2.98,22.2-20.63,39-43.88,41.34c-20.25,2.04-40.96-11.64-48.35-31.28c-3.4-9.05-2.48-18.31-3.03-27.52c0.04-4.79,0.25-9.59,0.08-14.38c-0.19-5.36-4.15-8.97-9.29-8.86c-5.07,0.11-8.49,3.49-8.62,8.86c-0.12,4.79,0.06,9.59,0.11,14.38c-0.27,7.8-0.57,15.57,0.82,23.34c4.51,25.31,24.48,46.09,50.21,51.98c25.61,5.86,52.69-4.4,67.83-25.26C130.69,142.01,133.07,123.99,131.85,105.01z"></path>
                        <path fill="currentColor" d="M74.94,106.97C75,96.16,75.09,85.35,75.1,74.54c0.01-6.49-3.27-10.38-8.68-10.48c-5.69-0.11-9.29,3.83-9.31,10.5
                        C57.08,85.04,57.2,95.52,57.25,106c-0.05,3.96-0.36,7.93-0.1,11.87c0.33,5.04,4.34,8.41,9.28,8.3c5.08-0.11,8.5-3.49,8.66-8.8
                        C75.19,113.9,75,110.44,74.94,106.97z"></path>
                    </svg>    
                </a>
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                {% endunless %}
                {% unless site.youtube_channel_id ==  %}
                <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank" class="has-text-black"><i class="fab fa-youtube"></i></a>
                {% endunless %}
                {% unless site.reddit_username ==  %}
                <a href="http://www.reddit.com/u/{{site.reddit_username}}" target="_blank" class="has-text-black"><i class="fab fa-reddit"></i></a>
                {% endunless %}
                {% unless site.behance_username ==  %}
                <a href="http://www.behance.com/{{site.behance_username}}" target="_blank" class="has-text-black"><i class="fab fa-behance"></i></a>
                {% endunless %}
                {% unless site.dribbble_username ==  %}
                <a href="http://www.dribbble.com/{{site.dribbble_username}}" target="_blank" class="has-text-black"><i class="fab fa-dribbble"></i></a>
                {% endunless %}
                {% unless site.spotify_username ==  %}
                <a href="http://open.spotify.com/user/{{site.spotify_username}}" target="_blank" class="has-text-black"><i class="fab fa-spotify"></i></a>
                {% endunless %}
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    document.getElementById('gform').addEventListener('submit', function(e) {
        let span = document.createElement("span");
        span.classList.add("has-text-success");
        span.append("Wiadomość została wysłana!");
        document.getElementById('gform').prepend(span);
        document.getElementById('contact-button').classList.add('has-text-grey','disabled','has-background-white');
    });
</script>
