<div class="columns is-centered is-multiline is-mobile">
  {% for pag in site.pages %}
  {% if pag.path contains 'projekty/' and pag.id == page.id %}
    <div class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
      id="project-card">
      <a id="modal" name="{{pag.path | remove:'.md'}}" onclick="modalClick(this,'{{ pag.title }}')">
      <div class="has-background-black card">
        <figure class="image is-3by1 is-marginless" style="background-image: url({{pag.image}});border-radius: 0.5rem;">
          <div class="card-content has-background-black" style="padding: 10px;opacity:80%;border-radius: 0.5rem;">
          <div>
            <h1 class="title has-text-white is-size-4 ">{{ pag.title }}</h1>
            {{pag.date}}
          </div>
        </div>
        </figure>
        
      </div>
      </a>
    </div>
  {% endif %}
  {% endfor %}
 
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card" style="width:70vw;height:80vw;">
      <header class="modal-card-head">
        <h1 class="title is-1 is-uppercase has-text-weight-bold" id="projectName"></h1><hr class="has-background-black">
        <button class="delete is-large" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
      </section>
      <footer class="modal-card-foot">
      </footer>
    </div>
  </div>
  </div>
<script>
  function modalClick(e,i){
    console.log(i);
  document.querySelector(".modal").classList.add('is-active');
  document.querySelector("html").classList.add('is-clipped');
  document.querySelector(".modal-card-body").innerHTML='';
  document.querySelector(".modal-card-body").innerHTML='<object style="width:95%;height:98%" type="text/html" data={{site.url}}/'+e.name+' ></object>';
  document.getElementById('projectName').innerHTML=i;
  };
  document.querySelector(".delete").addEventListener('click', function(){
  document.querySelector(".modal").classList.remove('is-active');
  document.querySelector("html").classList.remove('is-clipped');
  });  

</script>